<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary">
        <div class="container">
            @Html.ActionLink("Classroom", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "Index", "About", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Create", "Contact", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Profile", "display", "profile", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("SWE", "Index", "SWE", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("ICT", "Index", "ICT", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("CS", "Index", "CS", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Courses", "Index", "professor", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Library", "Index", "library", new { area = "" }, new { @class = "nav-link" })</li>
                    <ul class="navbar-nav style="float:right !important">
                        @if (Session["gmail"] != null)
                        {
                            <li>
                                <p style="color:#ffff; margin-top:15px;">hello @Session["name"]</p>
                            </li>
                            <li>@Html.ActionLink("logout", "Index", "login", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("signup", "student", "signup", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>
                                @Html.ActionLink("login", "Index", "login", new { area = "" }, new { @class = "nav-link" })

                            </li>
                        }
                    </ul>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <br />

    </div>
    <!--  links -->
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/FrontEnd/plugins/summernote/summernote-bs4.min.css">
    <link href="~/css/styles.css" rel="stylesheet" />




    <!-- jQuery -->
    <script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/FrontEnd/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/FrontEnd/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/FrontEnd/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/FrontEnd/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/FrontEnd/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/FrontEnd//jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/FrontEnd/plugins/moment/moment.min.js"></script>
    <script src="~/FrontEnd/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/FrontEnd/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/FrontEnd/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/FrontEnd/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/FrontEnd/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/FrontEnd/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/FrontEnd/dist/js/pages/dashboard.js"></script>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
